:root {
  --accent: #0a3323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #f7f4d5;
  }
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--accent);
}

.widget {
  width: 100%;
  max-width: 220px;
  min-width: 600px;
  padding: clamp(6px, 3vw, 8px);
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.15);
   display: flex;
  flex-direction: column;
  align-items: center; /* ОЦЕ КЛЮЧ */
  gap: 5px;
}

.title {
  font-size: clamp(12px, 3vw, 14px);
}

.amount {
  font-size: clamp(13px, 3.5vw, 15px);
}

.glass {
  width: 100%;
  aspect-ratio: 3 / 4;
  max-height: 160px;
  border-radius: 6px;
  border: 1px solid var(--accent);
  overflow: hidden;
  position: relative;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: var(--accent);
  transition: height 0.3s ease;
}

/* КНОПКИ */
.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* ЦЕНТР */
  gap: 3px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
}

.row span {
  min-width: 50px;
  text-align: center;
  opacity: 0.85;
}

button {
  width: clamp(13px, 3vw, 16px);
  height: clamp(13px, 3vw, 16px);
  font-size: clamp(7px, 2vw, 9px);
  border-radius: 50%;
  border: 1px solid var(--accent);
  background: transparent;
  color: var(--accent);
  font-size: 13px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
